Flask
requests
functools
to make the navbar https://getbootstrap.com/docs/5.0/components/navbar/

Notes from the SQL database
CREATE TABLE users (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
username TEXT NOT NULL,
hash TEXT NOT NULL
);

CREATE TABLE preferences (
user_id INTEGER,
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
habitA TEXT NOT NULL,
goalA INTEGER NOT NULL,
habitB TEXT NOT NULL,
goalB INTEGER NOT NULL,
habitC TEXT NOT NULL,
goalC INTEGER NOT NULL,
habitD TEXT NOT NULL,
goalD INTEGER NOT NULL,
habitE TEXT NOT NULL,
goalE INTEGER NOT NULL,
habitF TEXT NOT NULL,
goalF INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(id)
);

https://docs.python.org/3/library/sqlite3.html








        
### https://docs.python.org/3/library/sqlite3.html#sqlite3-placeholders ###

import sqlite3

con = sqlite3.connect("test.db")

cur = con.cursor()

res = cur.execute("SELECT * from movie")

# fetches the first result row and gets the second column of that row, in this case score
print(res.fetchone()[2])
