
/* list of the colors: 
    black: #000000
    dark grey: #6f6776
    grey green: #9a9a97
    really light green #c5ccb8
    purple: #8b5580
    pink: #c38890
    light purple grey: #a593a5
    blue purple: #666092
    red: #9a4f50
    orange red light: #c28d75
    light blue: #7ca1c0
    medium blue: #416aa3
    dirty red brown: #8d6268
    light orange: #be955c
    turquise: #68aca9
    dark turquise: #387080
    grey: #6e6962
    light green: #93a167
    green: #6eaa78
    dirty green: #557064
    green grey light: #9d9f7f
    blue grey light: #7e9e99
    blue grey: #5d6872
    dark purple: #433455
    white background: #F6F3EE
*/

body {
    background-color: #F6F3EE;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: small;
    background-image: url("/static/background.jpg");
    background-size: cover;
    margin: 0;
}

header {
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: start;
    font-size: large;
    color: #c99983;
}

footer {
    display: block;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 10px;
}

.topnav{
    overflow: hidden;
    background-color: #F6F3EE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}


.topnav a {
float: right;
display: block;
color: #666092;
text-align: center;
padding: 14px 40px;
text-decoration: none;
}

.topnav a:hover {
background-color: #c99983;
color: #120b08;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-auto-columns: max-content;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.verticalnavbar{
    background-color: #c28d75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 7%;
    height: 70%;
    position: fixed;
}


.verticalnavbar a {
display: block;
color: #472c1f;
padding: 8px 16px;
text-decoration: none;
}

.verticalnavbar a:hover {
background-color: #c99983;
color: #120b08;
}

.settingheader {
    text-align: center;
}

#chosenelement {
    font-size: large;
    background-color: #9a9a97;
}
.containersettings {
    background-color: #9a9a97;
    padding: 1px 16px;
    margin-left: 8%;
    padding: 3px 16px;
    height: auto;
}

#savechangesbutton {
    background-color: #6f6776;
}

.button {
    background-color: #c99983;
    color:#120b08;
    height: 10%;
    width: 20%;
    font-size: small;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 20px;
}

.col {
    background-color: #F6F3EE;
    color: #120b08;
    padding: 10px;
    margin: 0.5%; /* Add margin to the columns */
    width: calc(33.33% - 2* 10px - 2* 1%);
    block-size: auto;
    border-style: solid;
    border-radius: 8% 30%;
    border-color: #666092;
}

.goal {
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}

/* Adjust input and button styling */
input[type="number"],
button {
    box-sizing: border-box;
    background-color: white;
    width: calc(100% - 2 * 10px); /* Adjust width to account for padding */
    margin: 5px;
    padding: 5px;
}

/* Ensure three columns per row */
@media (max-width: 992px) {
    .col {
        width: calc(50% - 2 * 10px - 2 * 1%); /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .col {
        width: calc(100% - 2 * 10px - 2 * 1%); /* Full width on smaller screens */
    }
}
