{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <form action="/login" method="post" class="login">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="input" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="input" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <button class="button2" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}