{% extends "layout.html" %}

{% block title %}
    Settings Habits
{% endblock %}

{% block main %}
    <ul class="verticalnavbar">
        <a href="/settingsmh" id="chosenelement">
            <img src="/static/settings/MH.jpg" width="20px" height="20px"> Habits
        </a>
        <a href="/settingsuser">
            <img src="/static/settings/user.png" width="20px" height="20px"> User
        </a>
    </ul>
    <div class="containersettings">
        <form action="/settingsmh" method="post">

            <p class="h2">Update your habit settings:</p>

            <p class="description">Select at least one and up to six habits you want to track</p>
                <input class="form-check-input" type="checkbox" name="habit" value="water">
                    <label class="checkbox" for="habit">Water </label>
                <input class="form-check-input" type="checkbox" name="habit" value="workout">
                    <label class="checkbox" for="habit">Workout </label>
                <input class="form-check-input" type="checkbox" name="habit" value="reading">
                    <label class="checkbox" for="habit">Reading </label>
                <input class="form-check-input" type="checkbox" name="habit" value="meditate">
                    <label class="checkbox" for="habit">Meditate </label>
                <input class="form-check-input" type="checkbox" name="habit" value="sleep">
                    <label class="checkbox" for="habit">Sleep </label>
                <input class="form-check-input" type="checkbox" name="habit" value="spend time outside">
                    <label class="checkbox" for="habit">Time outside </label>
                <input class="form-check-input" type="checkbox" name="habit" value="eat healthy">
                    <label class="checkbox" for="habit">Eat healthy </label>
                <input class="form-check-input" type="checkbox" name="habit" value="journal">
                    <label class="checkbox" for="habit">Journal </label>
                <input class="form-check-input" type="checkbox" name="habit" value="clean">
                    <label class="checkbox" for="habit">Clean </label>

                <button class="button3" type="submit" value="checkedhabits" name="checkedhabits">Submit</button>
            <p></p>
        </form>

            <p class="h2">Select the goals for your habits:</p>
            {% for row in rows %}
                <form action="/settingsmh" method="post"> 
                    <p class="smalltext">{{ row['habits.descriptionheader1'] }} {{ row['user_habits.goal']}} {{ row['habits.descriptionheader2'] }}</p>
                    <p class="smalltext">Your current goal is: {{ row['user_habits.goal']}} {{ row['habits.unit'] }}</p>
                    <input type="hidden" name="habits_id" value="{{ row['user_habits.habits_id']}}">
                    <input class="input2" type="number" placeholder="What's your new goal?" name="newgoal">
                    <button class="button2" type="submit" value="newgoal" id="newgoal{{ row['user_habits.habits_id']}}">Set new goal</button>
                    <hr>
                </form>
            {% endfor %}
    </div>    

{% endblock %}