{% extends "layout.html" %}

{% block title %}
    Settings Habits
{% endblock %}

{% block main %}
    <h2 class="settingheader">Settings</h2>
    <ul class="verticalnavbar">
        <a href="/settingsuser" class="verticalnavbarelement">
            <img src="/static/settings/user.png" width="20px" height="20px"> User
        </a>
        <a href="/settingsmh" id="chosenelement">
            <img src="/static/settings/MH.jpg" width="20px" height="20px"> Habits
        </a>
        <a href="/settingsdesign" class="vertical navbar element">
            <img src="/static/settings/desktop.png" width="20px" height="20px"> Design
        </a>
    </ul>

    <form action="/settingsuser" method="post">
        <div class="container" style="margin-left:8%; padding:3px 16px; height:600x;">
            <h2>Update your habit settings:</h2>
            <p></p>
        
            <div>Select the six habits you want to track</div>
            <div class="mb-3">
                <!--checkboxes-->
            </div>
            <p></p>

            <div>Select the goals for your habits</div>
            <div class="mb-3">
            </div>
            <div>
                <button class="btn btn-primary" id="updatehabits" type="submit">Update habits</button>
            </div>
        </div>
    </form>
{% endblock %}