{% extends "layout.html" %}

{% block title %}
    Settings Habits
{% endblock %}

{% block main %}
    <h2 class="settingheader">Settings</h2>
    <ul class="verticalnavbar">
        <a href="/settingsuser" class="verticalnavbarelement">
            <img src="/static/settings/user.png" width="20px" height="20px"> User
        </a>
        <a href="/settingsmh" id="chosenelement">
            <img src="/static/settings/MH.jpg" width="20px" height="20px"> Habits
        </a>
        <a href="/settingsdesign" class="vertical navbar element">
            <img src="/static/settings/desktop.png" width="20px" height="20px"> Design
        </a>
    </ul>

    <form action="/settingsmh" method="post">
        <div class="containersettings">
            <h2>Update your habit settings:</h2>
        
            <p>Select at least one and up to six habits you want to track</p>
                <input type="checkbox" name="habit" value="water" {% for row in rows %}{% if row['habits.name'] == "water" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Water</label>
                <input type="checkbox" name="habit" value="workout" {% for row in rows %}{% if row['habits.name'] == "workout" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Workout</label>
                <input type="checkbox" name="habit" value="reading" {% for row in rows %}{% if row['habits.name'] == "reading" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Reading</label>
                <input type="checkbox" name="habit" value="meditate" {% for row in rows %}{% if row['habits.name'] == "meditate" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Meditate</label>
                <input type="checkbox" name="habit" value="sleep" {% for row in rows %}{% if row['habits.name'] == "sleep" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Sleep</label>
                <input type="checkbox" name="habit" value="spend time outside" {% for row in rows %}{% if row['habits.name'] == "spend time outside" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Time outside</label>
                <input type="checkbox" name="habit" value="eat healthy" {% for row in rows %}{% if row['habits.name'] == "eat healthy" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Eat healthy</label>
                <input type="checkbox" name="habit" value="journal" {% for row in rows %}{% if row['habits.name'] == "journal" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Journal</label>
                <input type="checkbox" name="habit" value="clean" {% for row in rows %}{% if row['habits.name'] == "clean" %} checked {% endif %}{% endfor %}>
                    <label for="habit">Clean</label>
                <button type="submit" value="checkedhabits" name="checkedhabits">Submit</button>
            <p></p>

            <p>Select the goals for your habits</p>
            {% for row in rows %}
                <p>Change the goals for the habits</p>
                <p></p>
                <p>habit: {{ row['habits.name'] }} goal: {{ row['user_habits.goal']}} {{ row['habits.unit'] }}</p>
                <input type="number" placeholder="What's your new goal?">
                <button type="submit" value="{{ row['habits.name']}}button">Set new goal</button>
            {% endfor %}
        </div>
    </form>
{% endblock %}